<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        font-family: Tahoma,Verdana,Segoe,sans-serif;
        font-size: 13px;
        font-style: normal;
        }
        li {
        font-size: 10px;
        }
        table tr:nth-child(odd) {
        background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
        background-color: #ffffff;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Mahout Classifier Results</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script>
</script>
</head>

<body  ng-app="myApp">
<h1>Mahout  Article Classifier</h1>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/topwords">Top Words by
                    Category</a></li>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div ng-controller="MyController" >
    <button ng-click="myData.doClick(item, $event)">Classify</button>
    <ul>
        <table valign="top" width="100%">
            <tr valign="top">
                <td>Journal</td>
                <td>percentage</td>
                <td>bayesianDistance</td>
                <td>scoreVal Checked</td>
            </tr>
            <tr ng-repeat="x in posts" valign="top">
                <td>{{ x.journalId }}</td>
                <td>{{ x.percentage }}</td>
                <td>{{ x.bayesianDistance }}</td>
                <td>{{ x.scoreVal }}</td>
            </tr>
        </table>
    </ul>
</div>

<script>
   var app = angular.module("myApp", [])
        .controller("MyController", function($scope, $http) {
            $scope.myData = {};
            $scope.myData.doClick = function(item, event) {
                var dataObj = document.getElementById('abstract').value;
                var req = {
                    method: 'POST',
                    url: '/classify',
                    data: $.param({ 'abstractVal': dataObj }),
                    <!--data: { abstractVal: document.getElementById('abstract').value }-->
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }
                var responsePromise = $http(req);

                responsePromise.success(function(data, status, headers, config) {
                    $scope.posts = data;
                });
                responsePromise.error(function(data, status, headers, config) {
                    alert(data.message);
                });
            }
        } );
  </script>

<form name="user" action="classify" method="post"  height="100">
    <table width="100%" height="20%" cellspacing="2" + callpadding="2" frame="box">
        <tr>
            <td halign="left" width="100%" halign="center" height="50%" colspan="3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Paste text into
                            the box below then click 'Classify' to see the automatic
                            classification</h3>
                    </div>
                    <div class="panel-body">
							<textarea id="abstract"rows="30" cols="40" name="abstractVal" height="100"
                                      class="form-control" required autofocus></textarea>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>


</body>


</html>